{% extends 'base.html.twig' %}

{% block title %}Blog opdracht{% endblock %}

{% block body %}
    <a href="{{ path('blog_new') }}">Create new</a>
    {% if blogs %}
        <div class="row">
            {% for blog in blogs %}
                {% if blog.frontpage == 1 %}
                    <div class="col-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src={{ vich_uploader_asset(blog, 'imageFile') }}>
                            <div class="card-body">
                                <p class="card-text">Title: {{ blog.title }}</p>
                                <p class="card-text">Body: {{ blog.body|raw }} </p>
                                <p class="card-text">Door: {{ blog.user }}</p>
                                <a href="{{ path('blog_show', {'id': blog.id}) }}">show</a>
                                {% if app.user %}
                                    <a href="{{ path('blog_edit', {'id': blog.id}) }}">edit</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
